@using WebNews.Models
@using WebNews.Utilities
@model IList<View_PostMenu>

<section id="hero">
		<div class="container-xl">
			<div class="row gy-4">

				<div class="col-lg-8">
					
					<!-- featured post large -->
                    @foreach (var item in Model.Take(1))
                    {
						string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
						string urlList = Functions.TitleSlugGeneration("list", item.MenuName, item.MenuID);
                        <div class="post featured-post-lg">
                            <div class="details clearfix">
                                <a href="/@urlList" class="category-badge">@item.MenuName</a>
                                <h2 class="post-title rut-gon-2-dong"><a href="/@url">@item.Title</a></h2>
                                <ul class="meta list-inline mb-0">
                                    <li class="list-inline-item"><a href="#">@item.Author</a></li>
                                    <li class="list-inline-item">@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
                                </ul>
                            </div>
                            <a href="/@url">
                                <div class="thumb rounded">
                                    <div class="inner data-bg-image" data-bg-image="@item.Images"></div>
                                </div>
                            </a>
                        </div>
                    }

				</div>

				<div class="col-lg-4">

					<!-- post tabs -->
					<div class="post-tabs rounded bordered">
						<!-- tab navs -->
						<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Xem nhiều</button></li>
							<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Gần đây</button></li>
						</ul>
						<!-- tab contents -->
						<div class="tab-content" id="postsTabContent">
							<!-- loader -->
							<div class="lds-dual-ring"></div>
							<!-- popular posts -->
							<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
                                <!-- post -->
                                @foreach (var item in Model.Take(4))
                                {
								string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="/@url">
											<div class="inner">
												<img src="@item.Images" style="width:60px;height:60px;" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0 rut-gon-2-dong"><a href="/@url">@item.Title</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
										</ul>
									</div>
								</div>
                                }
								
							</div>
							<!-- recent posts -->
							<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
								<!-- post -->
                                @foreach (var item in Model.OrderBy(p=>p.PostID).Take(4))
                                {
									string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="/@url">
                                                <div class="inner">
                                                    <img src="@item.Images" style="width:60px;height:60px;" alt="post-title" />
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0 rut-gon-2-dong"><a href="/@url">@item.Title</a></h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
                                            </ul>
                                        </div>
                                    </div>
                                }
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>