@using WebNews.Models
@using WebNews.Utilities
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<Post>

<!-- section main content -->
<section class="main-content">
	<div class="container-xl">
		<div class="row gy-4">

            <form asp-controller="Search" asp-action="Index" method="get" class="d-flex search-form">
                <input name="name" class="form-control me-2" type="text" placeholder="Search and press enter ..." aria-label="Search">
                <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
            </form>

			<div class="col-lg-8">
				<div class="row gy-4">
					@foreach(var item in Model)
					{
						ViewBag.MenuID = item.MenuID;
						ViewData["Title"] = item.Menu.MenuName;
						string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
						string urlList = Functions.TitleSlugGeneration("list", item.Menu.MenuName, item.MenuID);
						<div class="col-sm-6">
							<div class="post post-grid rounded bordered">
								<div class="thumb top-rounded">
									<a href="/@urlList" class="category-badge position-absolute">@item.Menu.MenuName</a>
									<a href="/@url">
										<div class="inner">
											@* <img src="~/uploads/post/@item.Images" style="width:356px;height:237.55px;" alt="post-title" /> *@
											<img src="@item.Images" style="width:356px;height:237.55px;" alt="post-title" />
										</div>
									</a>
								</div>
								<div class="details">
									<ul class="meta list-inline mb-0">
										@* images/other/author-sm.png  -  width:30px heihgt:30px *@
										<li class="list-inline-item"><a href="#"><img src="@item.Account.Avatar" style="width:30px;height:30px;border-radius:50px;" class="author" alt="author"/>@item.Author</a></li>
										<li class="list-inline-item">@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="/@url">@item.Title</a></h5>
									<p class="excerpt mb-0">@item.Abstract</p>
								</div>
								<div class="post-bottom clearfix d-flex align-items-center">
									<div class="social-share me-auto">
										<button class="toggle-button icon-share"></button>
										<ul class="icons list-unstyled list-inline mb-0">
											<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
											<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
											<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
										</ul>
									</div>
									<div class="more-button float-end">
										<a href="blog-single.html"><span class="icon-options"></span></a>
									</div>
								</div>
							</div>
						</div>
					}

				</div>

				@Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new { page = page}),
					new X.PagedList.Mvc.Common.PagedListRenderOptions {
						DisplayItemSliceAndTotal = false,
						ContainerDivClasses = new[] {"navigation"},
						UlElementClasses = new[] {"pagination", "justify-content-center"},
						LiElementClasses = new[] {"page-item"},
						PageClasses = new[] {"page-link"}
					})

				@* <nav>
					<ul class="pagination justify-content-center">
						<li class="page-item active" aria-current="page">
							<span class="page-link">1</span>
						</li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
					</ul>
				</nav> *@

			</div>
			<div class="col-lg-4">

				<!-- sidebar -->
				<div class="sidebar">
					<!-- widget popular posts -->
					@await Component.InvokeAsync("RecentPostView")

					@await Component.InvokeAsync("SameKindView", new { id = ViewBag.MenuID});

					<!-- widget categories -->
					@await Component.InvokeAsync("RecommendView")

					<!-- widget newsletter -->
					@* <div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Newsletter</h3>
							<img src="images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<span class="newsletter-headline text-center mb-3">Join 70,000 subscribers!</span>
							<form>
								<div class="mb-2">
									<input class="form-control w-100 text-center" placeholder="Email address…" type="email">
								</div>
								<button class="btn btn-default btn-full" type="submit">Sign Up</button>
							</form>
							<span class="newsletter-privacy text-center mt-3">By signing up, you agree to our <a href="#">Privacy Policy</a></span>
						</div>		
					</div> *@

					<!-- widget post carousel -->
					@await Component.InvokeAsync("CommercialView")

					<!-- widget advertisement -->
					<div class="widget no-container rounded text-md-center">
						<span class="ads-title">- Sponsored Ad -</span>
						<a href="#" class="widget-ads">
							<img src="images/ads/ad-360.png" alt="Advertisement" />	
						</a>
					</div>

					<!-- widget about -->
					@* <div class="widget rounded">
						<div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
							<img src="images/logo.svg" alt="logo" class="mb-4" />
							<p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
							<ul class="social-icons list-unstyled list-inline mb-0">
								<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div> *@

					<!-- widget tags -->
					@* <div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Tag Clouds</h3>
							<img src="images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<a href="#" class="tag">#Trending</a>
							<a href="#" class="tag">#Video</a>
							<a href="#" class="tag">#Featured</a>
							<a href="#" class="tag">#Gallery</a>
							<a href="#" class="tag">#Celebrities</a>
						</div>		
					</div> *@
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('ul.pagination > li.disable > a').addClass('page-link');
		})
	</script>
}